@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Это новая версия давно знакомого вам приложения. По всем вопросам обращайтесь в Ит-отдел</p>
</div>
