@using Models.ViewModels

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <button type="button" class="btn btn-light col-sm-12 col-lg-auto mb-1 mb-sm-0">@User.Identity.Name</button>
        <button type="button" class="btn btn-primary col-sm-12 col-lg-auto mb-1 mb-sm-0" onclick="location.href='@Url.Action("Logout", "Account")'">Выйти</button>
    }
}
else
{
    @if (ViewContext.RouteData.Values["controller"]?.ToString() != "Account")
    {
        <button type="button" class="btn btn-primary col-sm-12 col-lg-auto mb-1 mb-sm-0" onclick="location.href='@Url.Action("Login", "Account")'">
            Войти
        </button>
    }
}
